{% extends 'layout.twig' %}

{% block body %}

    <h1>Teste de XSS</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum voluptate delectus totam fugit eveniet sed sunt aperiam quas alias repellendus earum voluptatibus quisquam recusandae est odit, repellat assumenda eaque blanditiis!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, corporis. Ab ipsam, repellat nam atque numquam, aliquam cum rem rerum voluptates temporibus eveniet. Quae dolores esse illo, recusandae repellat quia!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae cumque praesentium, maiores nisi voluptatem, eligendi, iure quo accusamus enim eveniet quas velit minima obcaecati saepe explicabo esse nemo est culpa!</p>

{% endblock %}
